.content-container {
  margin: 50px auto 100px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

section {
  margin-top: 50px;
}

td {
  padding: 5px;
}

.table td,
.table th {
  padding: 0px !important;
  margin: 0px !important;
  font-weight: bold;
}

.empty_row {
  height: 1rem;
}

.text-red {
  color: red;
}
