.content-container {
  margin: 50px auto 100px auto;
}

h1,
h2 {
  text-align: center;
}

section {
  margin-top: 50px;
}

td {
  padding: 5px;
}

.table td,
.table th {
  padding-left: 0 !important;
}

.empty_row {
  height: 1rem;
}

.text-red {
  color: red;
}
